body, html {
    background-color: white;
    height: 100%;
    margin: auto;
    display: flex;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.container {
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: lavender;
    height: 600px;
    width: 800px;
    border-radius: 5px;
    margin: auto;
    box-shadow: 3px 3px 5px lightseagreen;
}
.title {
    margin: 50px auto;
    font-size: 40px;
}
.input-form {
    display: flex;
    flex-direction: row;
    height: 35px;
    margin: 0 auto;
    margin-bottom: 20px;
}
.add-btn {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-size: 16px;
    margin: auto;
    margin-right: 15px;
    height: 41px;
    width: 60px;
    background-color: rgb(97, 190, 88);
    border: none;
    border-radius: 3px;
}
.remove-btn {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-size: 16px;
    margin: auto;
    height: 41px;
    width: 80px;
    background-color: rgb(97, 190, 88);
    border: none;
    border-radius: 3px;
    line-height: 1;
}
.add-btn:hover {
    cursor: pointer;
}
.remove-btn:hover {
    cursor: pointer;
}
.search-field {
    height: 35px;
    width: 500px;
    text-align: left;
    font-size: 18px;
    padding-left: 5px;
    margin-right: 10px;
}
.to-do-builder {
    display: grid;
    grid-auto-flow: column;
    grid-template-rows: repeat(auto-fill, 50px);
    grid-auto-rows: 50px;
    row-gap: 20px;
    column-gap: 10px;
    height: 400px;
    width: 500px;
    margin: 10px auto;
}
.to-do {
    display: flex;
    justify-content: space-between;
    border-radius: 5px;
    font-size: 20px;
    background-color: rosybrown;
}
.item-description {
    font-size:26px;
    margin: auto 20px;
    cursor: pointer;
}
.remove-item {
    z-index: 10;
    margin: auto 0;
    padding-right: 15px;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.remove-item:hover {
    cursor: pointer;
}
.item-done {
    background-color: lightgreen;
}
.strikethrough {
    text-decoration: line-through;
}
